// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

// Material only Quasar variables overwrites
// -----------------------------------------
.q-collapsible {
  padding: 8px;
  &:nth-child(even) {
    background: rgba(0,0,0,0.04);
  }
}
