<template>
  <q-page >
    <q-list>
      <q-collapsible group="speakers" v-for="(speaker, index) in speakers" :key="index">
        <template slot="header">
          <q-item-main :label="speaker.subject"/>
          <q-item-side right>
            <div class="q-pa-sm">
              <q-icon name="fas fa-clock"/> {{ speaker.time }}
              |
              <q-icon name="fas fa-door-open"/> {{ speaker.room }}
            </div>
          </q-item-side>
        </template>
        <div class="q-pa-sm" v-if="speaker.description">
          <p> {{ speaker.description }} </p>
        </div>
      </q-collapsible>
    </q-list>
  </q-page>
</template>

<script>
import MONDAY from '../statics/BoF/monday.json'
import TUESDAY from '../statics/BoF/tuesday.json'
import WEDNESDAY from '../statics/BoF/wednesday.json'
import THURSDAY from '../statics/BoF/thursday.json'
import FRIDAY from '../statics/BoF/friday.json'

export default {
  data () {
    return {
      speakers: null
    }
  },
  created () {
    this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      switch (this.$route.params.day) {
        case 'day_three':
          this.speakers = this.sortByKey(MONDAY['bof'], 'time')
          break
        case 'day_four':
          this.speakers = this.sortByKey(TUESDAY['bof'], 'time')
          break
        case 'day_five':
          this.speakers = this.sortByKey(WEDNESDAY['bof'], 'time')
          break
        case 'day_six':
          this.speakers = this.sortByKey(THURSDAY['bof'], 'time')
          break
        case 'day_seven':
          this.speakers = this.sortByKey(FRIDAY['bof'], 'time')
          break
        default:
      }
    },
    sortByKey (array, key) {
      return array.sort(function (a, b) {
        let x = a[key]
        let y = b[key]
        return ((x < y) ? -1 : ((x > y) ? 1 : 0))
      })
    }
  }
}
</script>
