<template>

  <q-page >
    <div class="q-pa-sm" v-if="loading">
      <q-spinner class="vertical-middle" :size="30" color="blue"/>
    </div>
    <div class="q-pa-sm" v-else-if="error">
      <q-chip icon="fas fa-exclamation-triangle" >An error has occured and we weren't able to fetch the data.</q-chip>
    </div>
    <q-list v-else>
      <q-collapsible group="speakers" v-for="(speaker, index) in speakers" :key="index">
        <template slot="header">
          <q-item-main :label="speaker.talk_name" :sublabel="speaker.name"/>
          <q-item-side right>
            <div class="q-pa-sm">
              <q-icon name="fas fa-clock"/> {{ speaker.talk_time }}
              |
              <q-icon name="fas fa-door-open"/> {{ speaker.talk_room }}
            </div>
          </q-item-side>
        </template>
        <blockquote v-if="speaker.talk_abstract" class="q-pa-sm">{{ speaker.talk_abstract }}</blockquote>
        <div class="q-pa-sm" v-if="speaker.talk_description">
          <p> <strong>Description:</strong> </p>
          <p> {{ speaker.talk_description }} </p>
        </div>
      </q-collapsible>
    </q-list>
  </q-page>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      loading: false,
      speakers: null,
      error: false
    }
  },
  created () {
    this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      this.error = this.speakers = null
      this.loading = true
      axios.get('https://conf.kde.org/en/Akademy2018/public/schedule.json')
        .then(response => {
          let array = []
          if (this.$route.params.day === 'day_one') {
            let data = response.data.schedule.conference.days['0'].rooms['EI7']
            array = data.concat(response.data.schedule.conference.days['0'].rooms['EI8'])
          } else if (this.$route.params.day === 'day_two') {
            let data = response.data.schedule.conference.days['1'].rooms['EI7']
            array = data.concat(response.data.schedule.conference.days['1'].rooms['EI8'])
          } else {
            this.error = true
            this.loading = false
            return
          }
          this.speakers = this.prepareData(array)
          this.loading = false
        })
        .catch(error => {
          console.log(error)
          this.error = true
        })
    },
    prepareData (data) {
      let array = data.map(function (speaker) {
        return {
          'name': speaker.persons[0] ? speaker.persons[0].public_name : '',
          'talk_name': speaker.title,
          'talk_time': speaker.start,
          'talk_room': speaker.room,
          'talk_description': speaker.description,
          'talk_abstract': speaker.abstract
        }
      })
      let result = this.sortByKey(array, 'talk_time')
      return result
    },
    sortByKey (array, key) {
      return array.sort(function (a, b) {
        let x = a[key]
        let y = b[key]
        return ((x < y) ? -1 : ((x > y) ? 1 : 0))
      })
    }
  }
}
</script>
