<template>
  <q-layout> <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-layout-header>
      <q-toolbar color="primary">
        <q-toolbar-title>Akademy 2018</q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-page-container>
      <q-tabs align="justify">
        <q-route-tab to="/day_one" slot="title" label='11/08'/>
        <q-route-tab to="/day_two" slot="title" label='12/08'/>
        <q-route-tab to="/bof/day_three" slot="title" label='13/08'/>
        <q-route-tab to="/bof/day_four" slot="title" label='14/08'/>
        <q-route-tab to="/bof/day_five" slot="title" label='15/08'/>
        <q-route-tab to="/bof/day_six" slot="title" label='16/08'/>
        <q-route-tab to="/bof/day_seven" slot="title" label='17/08'/>
      </q-tabs>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>

    <!-- (Optional) The Footer -->
    <q-layout-footer>
      <q-toolbar align="center">
        <q-toolbar-title>Made with love for KDE - <a href="https://github.com/lays147/Akademy"><q-icon name="fab fa-github" color="white"/></a> - Author: Lays Rodrigues</q-toolbar-title>
      </q-toolbar>
    </q-layout-footer>

  </q-layout>
</template>
